$def with (page)
<!DOCTYPE html>
<html>
<head>
	<script src="static/jquery.js"></script>
	<script src="static/jquery.mobile-1.2.0.min.js"></script>
	<link rel="stylesheet" href="static/jquery.mobile-1.2.0.min.css"/>
	<title>News Management Sys</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
<div data-role="page" id="page1">
	<div data-role="header">
		<h3>News</h3>
	</div>
	<div data-role="content">
$:page
	</div>
</div>

</body>
</html>
