$def with (news)

$for city in news:
    <div id="checkboxes-city-$city['city']" data-role="fieldcontain">
        <fieldset data-role="controlgroup">
            <legend>$city['city']</legend>
            $for entry in city['news']:
                <input id="cb-$entry['id']" name="" type="checkbox"><label for="cb-$entry['id']">$entry['title']</label>
        </fieldset>
    </div> 

<form action="" method="post">
    <a href="/" data-role="button" data-inline="true">Cancel</a>
    <a href="/" data-role="button" data-inline="true" data-theme="b">Save</a>
</form>
