$def with (news)

<form action="/news/action/delete" method="post" data-ajax="false">

$for city in news.keys():
    <div id="checkboxes-city-$city" data-role="fieldcontain">
        <fieldset data-role="controlgroup">
            <legend>$city [$len(news[city])]</legend>
            $for entry in news[city]:
                <input id="cb-$entry['id']" name="cb-$entry['id']" type="checkbox"><label for="cb-$entry['id']">$entry['title']</label>
        </fieldset>
    </div> 

<button type="submit" data-theme='b'>Delete</button>
</form>
